.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: baseline; */
    padding: 1em;
    margin-bottom: 2em;
    background-color: black;
    color: #fff;
  }
  
  .trai{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: left;
    background-color:black;
  
  }
   
  .phai{
    display: flex;
    width: 50%;
    align-items: left;
    background-color: black;
  }

  .body{
      height: auto;
      /* display: flex; */
      background-color: #99CCFF;
      /* background-image: "assets/post/nen.jpg" */
      
      /* overflow-y: scroll; */
  }
 


   .Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    /* background: red; */
   }
   
.Column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0px;
  /* padding-top: 30px; */
}
   
.Row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 
                         minmax(185px, 1fr));
  grid-gap: 20px;
   
  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));
  }
}