.button{
  border: none;
  padding:2px;
  border-radius: 8px;
  background-color: #DECBA4;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
  /* padding: 10 10px; */
}

.fontsize{
    font-size: 30px;
}

.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  .sidebarWrapper {
    padding: 20px;
  }
  
  .sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .sidebarIcon {
    margin-right: 15px;
    color: black;
  }
  
  .sidebarButton {
    width: 250px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
  }
  
  
  
  
  