.header{
    height: 200px;
    width: 100%;
    background-color : #E9EEF6;
    padding-top: 50px;
    
  }
  
  /* .card-container{
    height: 300px;
    width: 300px;
    box-shadow: 0px 3px 50px #A5A5A5;
  } */
  
  .cardwrapper{
    width: 320px; 
    height: 250px ; 
    box-shadow: 0px 3px 50px #A5A5A5;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-bottom: 35px;
    min-height: 40vh;  
    max-height: 40vh;  
    /* overflow-y: auto; */
    
  }
  
  .cardtop{
    width: 100%;
    height: 2%;

  }
  
  .taskholder{
      /* background-color: rgb(238, 232, 178); */
    width: 100%;
    height: 98%;
    padding: 0px 10px;
    display : flex;
    flex-direction: column;
    position: relative;
  
  }
  .top{
    display: flex;
  }
  .cardheader{
    
    margin-top: 1px;
    margin-bottom: 10px;
    max-width: 180px;
    height: 30px;
    width: 200px;
    padding: 1px 1px !important;
    text-align: center;
    justify-content: center;
    /* margin-right: 15%; */
    margin-left: 15%;

  }
  
  .taskcontainer{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding : 40px 50px;
    margin-top: 25px;
    align-content: left;
    /* background-color:crimson; */
  }

  .headertextcenter{
    margin-top: 20px;
    text-align: center;
    color: black;
  }
  .rightbar{
    flex: 3;
}
/* .leftbar{
  flex: 1;
}  */
.homeContainer{
    display: flex;
    width: 100%;
  }
  .body{
     
    flex:8;
}

.nut{
 display: flex;
 padding-top: 32px;
 margin-right: 1%;
 margin-left: 3%;
 position:initial;

}

.butt{
  border-radius: 9px;
 width: 90px;
 text-align: center;
 height: 40px;
 color: rgb(25, 98, 235);
}
.buttt{
  border-radius: 9px;
 width: 110px;
 text-align: center;
 height: 40px;
 color: rgb(25, 98, 235);
}

.butt:hover {
  background: #a9d7f7;
  
}
.check{
  width: 59px;
  height: 20px;
  margin-left: 20px;
 
}
.content{
  width: 250px;
  height: 200px;
  color:"black";
  margin-left: 25px;
}
.date{
  text-align:center;
}
.chbox{
  margin-top: 2px;
  margin-left: 70px;
  justify-content: right;
}
.bt{
  border-radius: 9px;
  width: 40px;
  text-align: center;
  height: 40px;
  color: black;
  background-color: #BBD2C5;
  margin-left: 140px;
}