.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: baseline; */
    padding: 1em;
    margin-bottom: 2em;
    /* background-color: #134E5E; */
    color:black;
  }
  
  .trai{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: left;
    /* background-color:#134E5E; */
  
  }
   
  .phai{
    display: flex;
    width: 50%;
    align-items: left;
    /* background-color: #134E5E; */
  }

  .noidung{
      height:auto;
      justify-content: center;
      flex-direction:initial ;
  }