
.postWrapper{
   background-color: white;
}

.postTop{
    /* background-color: yellow; */
    display: flex;
}

.postTopLeft{
    /* background-color: violet; */
    flex-grow: 1;
} 

.postDate{
    flex-grow: 1;
}

.postBenifit{
    flex-grow: 1;
}

.statusContainer{
    /* background-color:chocolate; */
    display: flex;
    /* align-items: center; */
    /* align-items: center; */
    text-align: center;
    margin-top: 25px;
}
.sidebar{
    flex: 3;
    /* background-color: cornflowerblue; */
}
.status{
    flex:6;
}

.rightbar{
    flex: 3;
    /* background-color: crimson; */
}