.button{
  background-color: #ED213A;
  border-radius: 9px;
  font-size: 17px;
  font-weight: 420;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #DD0000;
}

.choosefile{
  background-color: #ED213A;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
  height: 30px;
  width: 100px;
  font-size: 1.35em;
  font-weight: 500;
  color: white;
  background-color: #ED213A;
  display: inline-block;
  cursor: pointer;
  border-radius: 9px;
  text-align: center;
  
}


.inputfile + label:hover {
  background-color: red;
}

.lbel{
  text-align: center;
}
.butt{
  background-color: #3b8d99;
  color: white;
  border-radius: 9px;
  cursor: pointer;
  
  text-align: center;
}
.butt:hover {
  background-color: #007991;
}