.topbarContainer {
    width: 100%;
    display: flex;
  }
  
  .sidebar{
      flex-grow: 1;
      /* background-color: blue; */
  }
  .topbarLeft {
    height:auto;
    flex-grow: 1;
    padding: 1em;
    text-align: left;
    color: white;
    display: flex;
  }
  
  .topbarCenter {
   
    height:auto;
    flex-grow: 4;
    padding: 1em;
    align-items: center;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .topbarRight{
    height:auto;
    flex-grow: 1;
    padding: 1em;
    text-align: right;
  }
  
  .searchbar {
    width: 50%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    
  }
  
  .searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
  }
  
  .searchInput {
    border: none;
    width: 70%;
   
  }
  
  .searchInput:focus {
    outline: none;
  }
  
  .topbarIcons {
    display: flex;
  }
  
.Image{
  height: 50px;
  width: 70px;
  border-radius: 18px;
}
  

  