.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: baseline; */
    padding: 1em;
    margin-bottom: 2em;
    background-color: black;
    color: #fff;
  }
  
  .trai{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: left;
    background-color:black;
  
  }
   
  .phai{
    display: flex;
    width: 50%;
    align-items: left;
    background-color: black;
  }

  .gopy{
    height:auto;
    align-items:center;
    /* align: "center"; */

  }
  .toanbo{
    align-content: center;
    width: 100%;
    height: 100%;
  }

  .bang{
    width: 100%;
    border:"1";
    border-color: "#CCCCCC";
    align-content: left;
  }
  .nhaptt{
    background-color: "#ff6600";
    height: "60px";
    color: "#FFFFFF";
    text-align: center;
  }
  .noidung{
    align-content: center;
  }
  .tr{
    width: "180";
    text-align: right;
    height: "60px";
  }
  .ph{
    width: "820";
    align-content: right;
  }
  .form-group{
    align-content: right;
    height: "60px";
  }
  /* .form-group ph{
    color: "#FF0000";
  } */